@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* share style */
.display-flex{
    display: flex;
}

.main{
    max-width: 1160px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.primary-btn{
    height: 50px;
    width: 197px;
    background-color: #FEA301;
    color: white;
    font-size: 1.25rem;
    font-weight: 600 ;
    border-radius: 12px;
    border: none;
    padding: 11px 58px;
    cursor: pointer;
   
}
.orange{
   color: #FEA301; 
}
.sky-blue{
    color: #01ACFD;
}
.secondary-btn{
    width: 197px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 12px;
    border: none;
   font-weight: bold;
   font-size: 1.25rem;
   padding: 10px auto;
   cursor: pointer;
}
.bg-img{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
}
/* navbar style */
h3{
    font-weight: bold;
    font-size: 2rem;
}

.header-section{
    justify-content: space-between;
    margin-bottom: 20px;
}
.nav-bar{
   justify-content: center; 
   align-items: center;
   
}

 .nav-ber-button{
    /* background-color: red; */
    display: flex;
    align-items: center;
 }

.nav-item{
    margin-right: 30px;
    list-style: none;
}

.nav-links{
    text-decoration: none;
}
.list-items{
    margin-right: 187px;
   
}
#h-1{
  
    font-weight: bold;
    font-size: 1.25rem;
}
#about{
    
    font-weight: 500;
    font-size: 1.25rem;
}
#facilities{
    color: #05D4DF;
    font-weight: 500;
    font-size: 1.25rem;
}
#admission{
    color: #5D58EF;
    font-weight: 500;
    font-size: 1.25rem;
}
/* bannar style */

.bannar{
    gap: 50px;
}

.bannar-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.bannar-title{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.bannar-discription{
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.bannar-image{
    width: 100%;
}
/* curriculum-card */
.main-body{
    background: linear-gradient(to top, #f9dcaa , #FFFFFF);
}
.curriculum-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    box-shadow: 0px 0px  28.3px rgba(0, 0, 0, 0.05); /*inner-shadow*/
   
}

.curriculum-img{
    height: 141px;
    width: 141px;
    margin: 35px auto;
}
.heading{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 2.87rem;
}
.curriculum-card{
    text-align: center;
}
.curriculum-discription{
   font-weight: 500;
   font-size: 1rem;
   margin-bottom: 30px;
}

#cd-1{
    border: 1px solid #DEF5FF;
    border-radius: 18px;
    background: linear-gradient(to top, #ffffff, #DEF5FF ); /* gradient for inside*/
    /* background: rgb(255,255,255);
   background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(140,202,255,1)100%); */
}

#cd-2{
    border: 1px solid #FFF4DC;
    border-radius: 18px; 
    background: linear-gradient(to top, #ffffff, #FFF4DC );
}
#cd-3{
    border: 1px solid #F2E8FF;
    border-radius: 18px;
    background: linear-gradient(to top, #ffffff, #F2E8FF );
}
.btn-card{
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 55px;
}
#btn-1{
    color: #64C8FF;

}
#btn-2{
    color: #F0AA00;

}
#btn-3{
    color: #8700FF;

}
.third-btn{
    margin-top:60px;
    text-align: center;
    margin-bottom: 60px;
   
}
.icon{
   border: none;
    border-radius: 50%;
    background-color: #FEA301;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 20px;
    margin-right: 10px;
   
}

/* our stories */
.stories-container{
    gap: 20px;
    border: none;
   
}
.stories{
    border-radius: 16px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid black;
    border-left: 1px solid #666666 ;
    border-right: 1px solid #666666 ;
    max-width: 540px;
    background-color: white;
   
}
.stories-item{
    border-radius: 16px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
   
}
.stories-img{
    border-radius: 16px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.about-school{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-btn{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    background-color: #95B226;
    border-radius: 45px;
    border: none;
    padding: 10px 19px;
    /* margin-right: 0px;
    margin-left: 30px;
   margin-top: -200px;
   margin-bottom: 0px; */
   /* position: absolute;
   left: 0;
   bottom: 220px; */
   position: relative;
   top: -30px;
   left: 20px;
   
  

}
#story-btn-color1{
    background-color: #3CD8E8;
}
#story-btn-color3{
    background-color: #5D58F0;
}
.stories-title{
    padding-left: 30px;
    font-weight: bold;
    font-size: 1.5rem;
}
#title{
    font-size: 1rem;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 25px;
    
}
.stories-discription{
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
    padding-left: 35px;
    margin-top: 40px;
    margin-right: 50px;
   
}
.fouth-btn{
   
    margin-left: 450px;
    margin-top: 80px;
    margin-bottom: 80px;
    cursor: pointer;
}

/* footer */
 


 .footer {
    background-color: #00aaff;
    color: white;
    padding: 40px 20px;
}

.container {
   
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: #FEA301; */
    
}

.footer-section {
    flex: 1;
    margin-right: 40px;
    min-width: 250px;
    /* background-color: #95B226; */
}
.footer-section2{
    display: flex;
    flex-direction: column;
   
    align-items: center;
}
/* .classitem{
    background-color: #8700FF;
} */
.footer-section3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-section h3 {
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    
}

.footer-section ul li a:hover {
    color: #ddd;
}



.logo-icon {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.footer-section p {
    line-height: 1.6;
}

.social-links a {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
    
    border-radius: 3px;
    background-color: purple;
    padding: 5px;
   
}

.social-links a:hover {
    color: #ddd;
} 

.hamburger{
    
    display: none;
}

@media screen and (max-width: 576px) {
    
    .first-heading,.stories,.third-btn,.nav-bar,.primary-btn{
        visibility: hidden;
    }
   .display-flex{
    flex-direction: column-reverse;
    
   }
   .curriculum-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   }
}